.certificate-board {
  width: 80%;
  border: 1px solid black;
  background-color: rgb(219, 217, 217);
  margin: 0 0 30px;
  .regist-list {
    width: 100%;
    margin: 5px 0;
    text-align: center;
  }
  .regist-info {
    width: 100%;
    display: flex;
    //border-top: 0.5px solid black;
    //border-bottom: 0.5px solid black;
    .regist-left {
      width: 50%;
      border-right: 1px solid black;
      div {
        border-top: 1px solid black;
        //border-bottom: 0.5px solid black;
        display: flex;
        label {
          flex-grow: 1;
        }
        input {
          flex-grow: 2;
        }
      }
    }
    .regist-right {
      width: 50%;
      div {
        border-top: 1px solid black;
        //border-bottom: 0.5px solid black;
        display: flex;
        label {
          flex-grow: 1;
        }
        input {
          flex-grow: 2;
        }
      }
    }
  }
  .machine-err {
    display: flex;
    flex-direction: column;
    border-top: 1px solid black;
    label {
      margin: 5px 0;
      text-align: center;
    }
    input {
      border-top: 1px solid black;
      height: 40px;
    }
  }
}
