.work-list {
  width: 65vw;
  margin: auto;
  background-color: white;
  margin-top: 140px;
  //border: 1px solid black;
  .list-title {
    //border: 1px solid black;
    border-bottom: none;
    // background: linear-gradient(#438a66, #73a58c);
    background-color: #48719b;
    color: white;
    font-size: 1.4rem;
    height: 50px;

    label {
      margin-left: 20px;
      line-height: 50px;
    }
  }
  .th {
    display: flex;
    height: 30px;
    //background: linear-gradient(#73a58c, #9bc9b2);
    background-color: #bee1ecd3;
    .th-td {
      width: 20%;
      font-size: 1rem;
      border: 1px solid #48719b;
      border-top: none;
      // display: flex;
      // align-items: center;
      label {
        margin-left: 10px;
        line-height: 30px;
        color: #225551;
      }
    }
  }
  .tr {
    height: 300px;
    .tr-tds {
      display: flex;
      height: 10%;
      .tr-td {
        width: 20%;
        font-size: 13px;
        //border: 1px solid black;
        // display: flex;
        // align-items: center;
        label {
          margin-left: 10px;
          line-height: 30px;
        }
      }
      .id,
      .status,
      .t-assign {
        background-color: #d4f7fac0;
        label {
          color: #6fa088;
        }
      }
      .time,
      .contact {
        background-color: #86b69e;
        label {
          color: white;
        }
      }
    }
  }
  .index-wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    // background: linear-gradient(#d5eee1, #73a58c);
    background-color: #48719b;
    div {
      :hover {
      }
      label {
        margin: 0 10px;
        color: white;
        span {
          color: white;
        }
      }
    }
    .prev,
    .next {
      color: white;
      cursor: pointer;
    }
    .prev:hover,
    .next:hover {
      color: rgb(248, 85, 26);
    }
  }
}
