.login-wrap {
  // width: 300px;
  // height: 350px;
  //border-radius: 8px;
  //box-shadow: 0px 0px 20px 1px black;
  // margin: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .login-title {
    margin: 40px 0;
    color: rgb(241, 245, 247);
    font-size: 50px;
  }
  .accountBox,
  .passwordBox {
    margin: 10px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border: 2px solid rgb(241, 245, 247);
    border-radius: 25px;
    :hover,
    :focus {
      border: 2px solid rgb(57, 64, 83);
    }
  }

  .accountBox:hover,
  .passwordBox:hover {
    border: 2px solid rgb(255, 240, 4);
  }

  .password,
  .account {
    width: 250px;
    height: 30px;
    border: none;
    line-height: 30px;
    background-color: rgb(57, 64, 83);
    color: rgb(241, 245, 247);
    font-size: 18px;
    margin-left: 10px;
  }
  // .password:focus,
  // .account:focus,
  // .password:hover,
  // .account:hover {
  //   background-color: rgb(57, 64, 83);
  // }
  .a-icon,
  .p-icon {
    font-family: "iconfont" !important;
    font-size: 30px;
    color: rgb(241, 245, 247);
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
  }

  .submit {
    width: 200px;
    height: 40px;
    font-size: 18px;
    border-radius: 15px;
    background-color: rgb(255, 240, 4);
    color: rgb(111, 117, 129);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    cursor: pointer;
  }
  .submit:hover {
    background-color: rgb(161, 151, 8);
  }
}
