@font-face {
  font-family: "iconfont"; /* project id 1249425 */
  src: url("//at.alicdn.com/t/font_1249425_jmu1jnaahm.eot");
  src: url("//at.alicdn.com/t/font_1249425_jmu1jnaahm.eot?#iefix")
      format("embedded-opentype"),
    url("//at.alicdn.com/t/font_1249425_jmu1jnaahm.woff2") format("woff2"),
    url("//at.alicdn.com/t/font_1249425_jmu1jnaahm.woff") format("woff"),
    url("//at.alicdn.com/t/font_1249425_jmu1jnaahm.ttf") format("truetype"),
    url("//at.alicdn.com/t/font_1249425_jmu1jnaahm.svg#iconfont") format("svg");
}

.App {
  margin-top: 100px;
}
