.work-list {
  width: 80vw;
  margin: auto;
  border: 1px solid black;
  .list-title {
    border: 1px solid black;
    border-bottom: none;
    background-color: rgb(248, 85, 26);
    color: white;
    font-size: 1.4rem;
    height: 40px;

    label {
      margin-left: 20px;
      line-height: 40px;
    }
  }
  .th {
    display: flex;
    height: 30px;
    .th-td {
      width: 20%;
      font-size: 1.2rem;
      border: 1px solid black;
      border-top: none;
      // display: flex;
      // align-items: center;
      label {
        margin-left: 10px;
        line-height: 30px;
        color: rgb(248, 85, 26);
      }
    }
    .id,
    .status,
    .change {
      background-color: white;
      label {
        color: #6fa088;
      }
    }
    .time,
    .contact {
      background-color: #86b69e;
      label {
        color: white;
      }
    }
  }
  .tr {
    height: 300px;
    .tr-tds {
      display: flex;
      height: 10%;
      .tr-td {
        width: 20%;
        border: 1px solid black;
        // display: flex;
        // align-items: center;
        label {
          margin-left: 10px;
          line-height: 30px;
        }
      }
    }
  }
  .index-wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30px;
    div label {
      margin: 0 10px;
      span {
        color: rgb(248, 85, 26);
      }
    }
    .prev,
    .next {
      color: #666666;
      cursor: pointer;
    }
  }
}
